body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.chat {
    width: 800px;
    height: 80vh;
    background-color: white; 
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.header {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: solid rgb(118, 118, 118) 1px;
}

.messages {
    /* background-color: red; */
    width: 100%;
    height: 65%;
    padding: 3%;
    overflow: auto;
}

.message {
    margin-bottom: 10px;
    display: flex;
}

.bg-message {
    background-color: #F8F8F8;
    width: fit-content;
    block-size: fit-content;
    padding: 10px;
    border-radius: 8px 8px 8px 0px;
    max-width: 60%;
}

.right {
    flex-direction: row-reverse;
    text-align: end;
}

.right .bg-message {
    background-color: #5C636A;
    color: white;
    border-radius: 8px 8px 0px 8px;
}

.user {
    font-weight: bold;
}

.text-area {
    /* background-color: yellow; */
    border-top: solid rgb(118, 118, 118) 1px;
    height: 20%;
    border-radius: 0px 0px 8px 8px;
    padding: 3%;
    display: flex;
}

.text-area textarea {
    height: 100%;
    width: 100%;
    margin-right: 3%;
}

.btn-sm {
    margin-left: 10px;
}